* {
    transition: all 0.3s ease-out;
}

.principal {
    margin-top: 2em;
    margin-bottom: 3em;
    padding-top: 2em;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.boton-nav {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.boton-nav:hover {
    background-color: #e1e1e1;
}

.container {
    padding-bottom: 1rem;
}

.cards-container {
    padding-top: 2rem;
}

.cards-row {
    padding-bottom: 1rem;
}

.input-group{
    padding-top: 2rem;
}

.btn-secondary, .btn-outline-secondary {
    margin-top: 2rem;
    margin-left: .5rem;
}

.btn-primary {
    margin-top: 2rem;
    background-color: #00a18f;
    border-radius: 50px;
    border-color: #00B6A2;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #057568;
}

.btn-outline-primary {
    margin-top: 2rem;
    border-color: #00B6A2;
    color: #00B6A2;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #00B6A2;
    color: #fff;
}

.card {
    margin-bottom: 1rem;
}

.card-header {
    background: linear-gradient(-180deg, #2b2c58, #5E62BF);
    color: #fff;
}

.card1 {
    border-color: #b0b7b6 !important;
    background-color: #fafcfc;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        top: -4px;
        border: 1px solid #9fa5a4;
        background-color: white;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
    }
}

.carousel-item {
    &.active, &.carousel-item-right, &.carousel-item-next {
      display: flex !important;
      flex-wrap: wrap
    }
}

.carousel-indicators {
    position: inherit;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}

.carousel .carousel-indicators li {
    border-radius: 50%;
    cursor: pointer;
    height: .625rem;
    width: .625rem;
}

.carousel-indicators .active {
    opacity: 1;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}