* {
    transition: all 0.3s ease-out;
}

.principal {
    margin-top: 2em;
    margin-bottom: 3em;
    padding-top: 2em;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.boton-nav {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.boton-nav:hover {
    background-color: #e1e1e1;
}

.container {
    padding-bottom: 1rem;
}

.cards-container {
    padding-top: .2rem;
}

.cards-row {
    padding-bottom: 1rem;
}

.input-group{
    padding-top: 2rem;
}
.listar-button{
    margin-top: 2.5rem;
}

.btn-secondary, .btn-outline-secondary {
    margin-top: 2rem;
    margin-left: .5rem;
}

.btn-primary {
    margin-top: 2rem;
    background-color: #00a18f;
    border-radius: 50px;
    border-color: #00B6A2;
}

.crearProdSer{
    margin-top: 2rem;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #057568;
}

.btn-outline-primary {
    border-color: #00B6A2;
    color: #00B6A2;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #00B6A2;
    color: #fff;
}

.btn-outline-primary:disabled {
    pointer-events: none;
}

.card {
    margin-bottom: 1rem;
}

.card-header {
    background: linear-gradient(-180deg, #2b2c58, #5E62BF);
    color: #fff;
}

.card1 {
    border-color: #b0b7b6 !important;
    background-color: #fafcfc;

    &:hover {
        transition: all 0.2s ease-out;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        top: -4px;
        border: 1px solid #9fa5a4;
        background-color: white;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: -16px;
        right: -16px;
        background: #00838d;
        height: 32px;
        width: 32px;
        border-radius: 32px;
        transform: scale(2);
        transform-origin: 50% 50%;
        transition: transform 0.15s ease-out;
    }

    &:hover:before {
        transform: scale(2.15);
    }
}