<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Categoria</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Item</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Buscar</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let card of cards;">
      <div class="card card1 mb-2">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
        alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">{{card.title}}</h4>
          <p class="card-text">{{card.description}}</p>
          <a class="btn btn-outline-primary">Button</a>
        </div>
      </div>
    </div>
  </div>
</div>