<div class="crear-movimiento">
    <h1>Nuevo Movimiento</h1>
    <form>
        <div class="principal">
            <div class="form-row">
                <div class="input-group col-md-6 mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text elementos-informacion" for="tipoMovimiento">Tipo movimiento</label>
                    </div>
                    <select class="custom-select" required [(ngModel)]="movimiento.tipoMovimiento" name="tipoMovimiento"
                    #tipoMovimiento>
                        <option>0</option>
                        <option>1</option>
                    </select>
                </div>
                <div class="input-group col-md-6 mb-2">
                    <div class="input-group-prepend">
                        <label class="input-group-text elementos-informacion" for="puntoid">Punto de compra</label>
                    </div>
                    <select class="custom-select" required [(ngModel)]="movimiento.idPuntoDeCompra"
                        name="puntoid" #puntoid>
                        <option *ngFor="let punto of puntos" [ngValue]="punto.id">{{punto.nombre}}</option>
                    </select>
                </div>

            </div>
            <h2>Lista de productos / servicios</h2>
            <table class="table" id="tabla-productos">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col" class="quitar">Nombre</th>
                        <th scope="col">Precio unitario</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col" class="quitar">Precio neto</th>
                        <th scope="col" class="colum-acciones"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productosAgregados">
                        <th scope="row">{{producto.id}}</th>
                        <td class="quitar">{{producto.nombre}}</td>
                        <td>{{producto.valorUnitario | currency}}</td>
                        <td>{{producto.cantidad}}</td>
                        <td class="quitar">{{(producto.valorUnitario * producto.cantidad) | currency}}</td>
                        <td>
                            <div class="elementos-acciones">
                                <svg (click)="eliminarProducto(producto)" class="bi bi-trash" width="1em" height="1em"
                                    viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                        clip-rule="evenodd" />
                                </svg>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>402</td>
                        <td>Pantalon</td>
                        <td>$80.000</td>
                        <td>1</td>
                        <td>$80.000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>277</td>
                        <td>Camisa</td>
                        <td>$20.000</td>
                        <td>3</td>
                        <td>$60.000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            <svg data-toggle="modal" data-target="#modalProducoCompra" (click)="limpiarCampos()"
                                class="bi bi-plus-circle" style="color: #00B6A2" viewBox="0 0 16 16" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                    clip-rule="evenodd" />
                            </svg>
                        </th>
                        <th></th>
                        <th class="quitar"></th>
                        <th>Total:</th>
                        <td>$140.000</td>
                        <td></td>
                    </tr>
                    

                </tbody>
            </table>
            <div class="botones">
                <a routerLink="/compra" class="cancelar-compra {{guardando ? 'desactivado' : ''}}">Cancelar</a>
                <button type="button" class="btn btn-primary guardar-compra" (click)="guardarCompra()"
                    [disabled]="(productosCompra.length == 0 || compra.almacenid==null) || (guardando)">
                    Guardar</button>
            </div>
        </div>
    </form>


    <!-- Modal -->

    <div class="modal fade" id="modalProducoCompra" tabindex="-1" role="dialog"
        aria-labelledby="modalProducoCompraLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalProducoCompraLabel">Agregar producto/servicio</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form #productoForm="ngForm">
                    <div class="modal-body">
                        <div class="referencia ">
                            <form>
                                <div class="form-row">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text"
                                                            for="categoriaid">Categoria</label>
                                                    </div>
                                                    <select class="custom-select" required
                                                        [(ngModel)]="movimiento.idCategoria" name="categoriaid"
                                                        #categoriaid (change)="listarItems()">
                                                        <option selected [ngValue]="null"></option>
                                                        <option value="Nuevo">Casa</option>
                                                        <option value="Usado">Entretenimiento</option>
                                                        <option *ngFor="let categoria of categorias" [ngValue]="categoria.id">
                                                            {{categoria.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="almacenid">Item</label>
                                                    </div>
                                                    <select class="custom-select" required [(ngModel)]="movimiento.idItem" (change)="listarProductos()"[disabled]="movimiento.idCategoria == null" name="itemID" #itemID>
                                                        <option selected [ngValue]="null"></option>
                                                        <option value="Nuevo">Mantenimiento</option>
                                                        <option value="Usado">Administración</option>
                                                        <option *ngFor="let item of items" [ngValue]="item.idItem">
                                                            {{item.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        
                                        <h6>Producto/servicio</h6>
                                        <div class="row">
                                            
                                            <div class="col-sm-4">
                                                <div class="input-group mb-2">
                                                    <div class="input-group-prepend">
                                                        <label class="input-group-text" for="productoid">Producto/servicio</label>
                                                    </div>
                                                    <select class="custom-select" required [(ngModel)]="movimiento.idProductoServicio" [disabled]="movimiento.idItem == null" name="idProductoServicio" #idProductoServicio>
                                                        <option selected [ngValue]="null"></option>
                                                        <option value="Nuevo">Producto 1</option>
                                                        <option value="Usado">Producto 2</option>
                                                        <option *ngFor="let producto of productos" [ngValue]="producto.id">
                                                            {{producto.nombre}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text" id="cantidad">Cantidad</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Cantidad" [disabled]="movimiento.idItem == null">
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                    <span class="input-group-text" id="precioUnitario">Precio unitario</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="Precio unitario" [disabled]="movimiento.idItem == null">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary guardar-producto" id="guardar-producto"
                            [disabled]="!productoForm.form.valid" (click)="agregarProducto()"
                            data-dismiss="modal">Agregar</button>
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <app-error *ngIf="error"></app-error> 
        {{compra.neto | currency}}

-->


<!--<div class="row">
                                            <div class="col-sm-12">
                                                <div class="contenedor-boton">
                                                    <a class="registrar-compra-boton boton-nav" [routerLink]="[]">
                                                        <svg class="bi bi-plus-circle" style="color: #00B6A2;margin-right: 0.5em;" width="1.3em"
                                                            height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd"
                                                                d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
                                                                clip-rule="evenodd" />
                                                            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z"
                                                                clip-rule="evenodd" />
                                                            <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
                                                                clip-rule="evenodd" />
                                                        </svg> Crear producto/servicio
                                                    </a>
                                                </div>
                                            </div>
                                        </div>-->