.navbar {
    margin-top: 2em;
    margin-bottom: 3em;
}

.form-inline .bi {
    margin-right: 1em;
}

.boton-nav {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.boton-nav:hover {
    background-color: #e1e1e1;
}