.principal {
    margin-top: 2em;
    margin-bottom: 3em;
    padding-top: 2em;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-inline .bi {
    margin-right: 1em;
}

.boton-nav {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.boton-nav:hover {
    background-color: #e1e1e1;
}

.btn-outline-primary {
    border-color: #00B6A2;
    color: #00B6A2;
}

.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled):active {
    background-color: #00B6A2;
    color: #fff;
}

.row {
    padding-top: 1rem;
}

.bi-eye, .bi-pencil {
    cursor: pointer;
    margin-right: 1rem;
}

.table td, .table th {
    margin: auto;
    text-align: center;
}