#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    background-color: #2a303a;
    color: #dddada;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

.sidebar-item {
    background-color: #2a303a;
    box-shadow: 2px 1px 7px -4px rgba(150, 150, 150, 1);
    text-decoration: none;
    border-left: solid 7px #2a303a;
    color: #fff;
    display: flex;
    align-items: stretch;
}

.sidebar-item:hover {
    background-color: #6b727e;
    color: #fff;
    border-left: solid 7px #4eada2;
    text-decoration: none;
}

.sidebar-item svg {
    margin-right: 3px;
}

.active {
    background-color: #6b727e;
    color: #fff;
    border-left: solid 7px #00B6A2;
    ;
    text-decoration: none;
}

.btn-inicio-sidebar {
    width: 70px;
    height: 56px;
    background-color: #5E62BF;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-inicio-sidebar:hover {
    background-color: #2d2f5e;
    color: #fff;
}

.btn-inicio-sidebar:active {
    background-color: #2d2f5e;
    color: #fff;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/*============================================================ Navbar ==============================================*/

.navbar {
    background-color: #5E62BF;
}

.navbar ul .nav-item {
    transition: all 0.5s;
}

.navbar ul .nav-item.active {
    background-color: #108ddb;
    border-radius: 5px;
}

.navbar {
    margin: 0 !important;
    padding: 0 !important;
    height: 56px;
}

.nombreuser {
    margin-right: 2rem;
}

.item-userdropdawn:hover {
    background-color: #2a303a;
    color: #fff;
}

.navbar-expand .navbar-nav .dropdown-menu {
    top: 47px;
    position: absolute;
    left: -17px;
    text-align: end;
    margin: 0;
    padding: 0;
}

.dropdown-user {
    cursor: pointer;
}

.container-login {
    height: 100%;
    /*background-image: url("../assets/fondouniverso.gif");*/
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid {
    width: 100%;
    padding-right: 4.5rem;
    margin-top: 2.2em;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.icon-avatar {
    width: 41px;
}