<div id="container-login">
    <div class="d-flex" id="wrapper">
        <div id="sidebar-wrapper" *ngIf="isLoggedIn">
            <div class="sidebar-heading">Expense Control App</div>
            <div class="list-group list-group-flush">
                <div>

                    <a href="/home" class="list-group-item sidebar-item " routerLinkActive="active" routerLink="home">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pie-chart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.985 8.5H8.207l-5.5 5.5a8 8 0 0 0 13.277-5.5zM2 13.292A8 8 0 0 1 7.5.015v7.778l-5.5 5.5zM8.5.015V7.5h7.485A8.001 8.001 0 0 0 8.5.015z"/>
                        </svg> Principal                        
                    </a>
                </div>

                <div>
                    <a href="/categoria" class="list-group-item sidebar-item " routerLinkActive="active" routerLink="categoria">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-collection-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7z"/>
                            <path fill-rule="evenodd" d="M2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z"/>
                        </svg>Categorías</a>
                </div>

                <div>
                    <a href="/item" class="list-group-item sidebar-item" routerLinkActive="active"
                        routerLink="item">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        </svg> Items</a>
                </div>

                <div>
                    <a href="/producto" class="list-group-item sidebar-item" routerLinkActive="active"
                        routerLink="producto">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-egg-fried" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M13.665 6.113a1 1 0 0 1-.667-.977L13 5a4 4 0 0 0-6.483-3.136 1 1 0 0 1-.8.2 4 4 0 0 0-3.693 6.61 1 1 0 0 1 .2 1 4 4 0 0 0 6.67 4.087 1 1 0 0 1 1.262-.152 2.5 2.5 0 0 0 3.715-2.905 1 1 0 0 1 .341-1.113 2.001 2.001 0 0 0-.547-3.478zM14 5c0 .057 0 .113-.003.17a3.001 3.001 0 0 1 .822 5.216 3.5 3.5 0 0 1-5.201 4.065 5 5 0 0 1-8.336-5.109A5 5 0 0 1 5.896 1.08 5 5 0 0 1 14 5z"/>
                            <circle cx="8" cy="8" r="3"/>
                        </svg> Producto/Servicio</a>
                </div>

                <div>
                    <a href="/puntoCompra" class="list-group-item sidebar-item " routerLinkActive="active" routerLink="puntoCompra">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>Puntos de compra
                    </a>
                </div>

                <div>
                    <a href="/movimiento" class="list-group-item sidebar-item " routerLinkActive="active" routerLink="movimiento">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717L5.07 1.243zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0v-3z"/>
                        </svg>Movimientos
                    </a>
                </div>

            </div>

        </div>


        <div class="btn-inicio-sidebar" id="menu-toggle">&#9776;</div>




        <div id="page-content-wrapper">
            <nav *ngIf="isLoggedIn" class="navbar navbar-expand navbar-dark ">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">

                    <li class="nav-item" routerLinkActive="active">
                        <a href="/login" class="nav-link" routerLink="login">Login</a>
                    </li>
                </ul>


                <ul class="navbar-nav ml-auto nombreuser" *ngIf="isLoggedIn">
                    <li>
                        <img class="icon-avatar" src="../assets/Avatares/Avatar3.png" alt="">
                    </li>
                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle dropdown-user" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ username }}
                        </a>
                        <div class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item item-userdropdawn" data-toggle="modal" data-target="#modaledit"
                                (click)="editUser(idUser)">Editar perfil</a>
                            <a href class="dropdown-item item-userdropdawn" (click)="logout()">Cerrar sesión</a>
                        </div>
                    </li>


                </ul>
            </nav>

            <div class="container-fluid">

                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modaledit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edición de usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Info usuario</p>>
            </div>

        </div>
    </div>
</div>