<div class="container">
    <div class="row">
        <div class="col-sm-12 crearContent">
            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal"
                data-target="#crearPuntoCompra"><b>+</b></button> -->
            <a class="btn-crear" data-dismiss="modal" data-toggle="modal" data-target="#crearPuntoCompra"
                tooltip="Crear un punto de compra" placement="right">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </a>
        </div>
    </div>
    <div class="row">
        <!--<app-error *ngIf="error"></app-error>-->
        <div class="container cards-container">
            <div class="row cards-row">

                <div class="col-sm-4" *ngFor="let card of cards;">
                    <div class="card card1 mb-2">
                        <div class="card-header">{{card.nombre}}</div>
                        <div class="card-body">
                            <p class="card-text">ID: {{card.id}}</p>
                            <p class="card-text">{{card.descripcion}}</p>
                            <a class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal"
                                data-target="#modificarPuntoCompra" (click)="capturar(card)">Ver detalles</a>
                            <a class="btn btn-outline-secondary" [swal]="deleteSwal">Eliminar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<swal #deleteSwal title="¿Desea eliminar este punto de compra?" text="Esto no se podrá deshacer" icon="question"
    [showCancelButton]="true" [focusCancel]="true" cancelButtonText="Cancelar" confirmButtonText="Eliminar"
    (confirm)="deleteFile()">
</swal>

<!-- Modal Crear -->
<div class="modal fade" id="crearPuntoCompra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="ancho">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear punto de compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <form>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="nombreCategoria">Nombre</label>
                                        <input type="text" class="form-control" required [(ngModel)]="nuevoPunto.nombre"
                                            name="nombre" #nombred>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="nombreCategoria">Estrato económico</label>
                                        <input type="text" class="form-control" required
                                            [(ngModel)]="nuevoPunto.estratoEconomico" name="estratoEconomico"
                                            #estratoEconomico>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="descripPunto">Descripción</label>
                                    <textarea class="form-control" id="PuntoDescripcion"
                                        [(ngModel)]="nuevoPunto.descripcion" name="PuntoDescripcion"
                                        rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" [disabled]="!(nuevoPunto.nombre != '')"
                    (click)="crearPunto()" data-dismiss="modal">Crear</button>
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modificar -->
<div class="modal fade" id="modificarPuntoCompra" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="ancho">
            <div class="modal-header">
                <h5 class="modal-title" id="idLabel">Código: {{punto.id}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <form>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label for="nombreCategoria">Nombre</label>
                                        <input type="text" class="form-control" value={{punto.nombre}} required [(ngModel)]="puntoActualizado.nombre"
                                            name="nombre" #nombred>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="nombreCategoria">Estrato económico</label>
                                        <input type="text" class="form-control" value={{punto.estratoEconomico}} 
                                            [(ngModel)]="puntoActualizado.estratoEconomico" name="estratoEconomico"
                                            #estratoEconomico>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="descripPunto">Descripción: {{punto.descripcion}}</label>
                                    <textarea class="form-control" id="PuntoDescripcion" placeholder="Nueva descripción"
                                        [(ngModel)]="puntoActualizado.descripcion" name="PuntoDescripcion"
                                        rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" [disabled]="!(puntoActualizado.nombre != '' || puntoActualizado.descripcion != '' || puntoActualizado.estratoEconomico != '')" [swal]="confirmarMod">Modificar</button>
            </div>
        </div>
    </div>
</div>

<!-- Alert Para Confirmar la modificación -->
<swal #confirmarMod title="¿Desea guardar los cambios?" icon="question"
    [showCancelButton]="true" [focusCancel]="true" cancelButtonText="Cancelar" confirmButtonText="Guardar"
    (confirm)="modificarPunto()">
</swal>