<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card card1 border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">ID</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Nombre punto de compra</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <div class="card-footer bg-transparent">
                    <button>Modificar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card1 border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">ID</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Nombre punto de compra</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <div class="card-footer bg-transparent">
                    <button>Modificar</button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card card1 border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">ID</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Nombre punto de compra</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <div class="card-footer bg-transparent">
                    <button>Modificar</button>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-4">
            <div class="card card3 border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">ID</div>
                <div class="card-body text-info">
                    <h5 class="card-title">Nombre puto de compra</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <div class="card-footer bg-transparent go-corner">
                    <button>Modificar</button>
                </div>
            </div>
        </div> -->
    </div>
</div>